<div class="dropDown">
  <select [(ngModel)]='contentType' name="dropdownOption" id="dropdownOption" class='form-control'(ngModelChange)="onChange($event)">
    <option class="Text" value="angular">Angular</option>
    <option class="Text" value="react">React</option>
    <option class="Text" value="vuejs">Vuejs</option>
  </select>
</div>
<section class ="news_list"
infiniteScroll
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="50"
(scrolled)="onScrollDown()"
>
    <app-news-card *ngFor="let News of DataNews$ | async "[News]="News"></app-news-card>
</section>

