.news_list{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
  display:grid;
  gap:10px;
  grid-auto-rows: 7rem;
  grid-template-columns: repeat(auto-fill,minmax(35rem,1fr));
  height:auto;
}
